<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
</head>
<body>
    <h1>Add New Book</h1>
    <form action="/books" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br>
        <label for="pages">Pages:</label>
        <input type="number" id="pages" name="pages"><br>
        <label for="avg_reviews">Average Reviews:</label>
        <input type="number" id="avg_reviews" name="avg_reviews"><br>
        <label for="n_reviews">Number of Reviews:</label>
        <input type="number" id="n_reviews" name="n_reviews"><br>
        <label for="star">Star Rating:</label>
        <input type="number" id="star" name="star"><br>
        <label for="dimensions">Dimensions:</label>
        <input type="text" id="dimensions" name="dimensions"><br>
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight"><br>
        <label for="language">Language:</label>
        <input type="text" id="language" name="language"><br>
        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" name="publisher"><br>
        <label for="complete_link">Complete Link:</label>
        <input type="text" id="complete_link" name="complete_link"><br>
        <!-- Add other input fields for book details -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
